/* Estilos principais (para desktop) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
    width: 80%;
    max-width: 800px;
}

#companies-container {
    display: grid;  /* Mudamos de flex para grid */
    grid-template-columns: repeat(3, 1fr); /* 3 empresas por linha */
    gap: 20px;  /* Espaçamento entre os itens */
    margin-right: 5px;
    margin-bottom: 30px;
}

.company-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.company-button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#usability-problem-container {
    margin-top: 20px;
}

#answers-container {
    margin-top: 20px;
}

.answer-button {
    display: block;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.answer-button:hover {
    background-color: #005f72;
}

#timer-container {
    margin-top: 20px;
}

#questions-left {
    margin-top: 10px;
    font-size: 14px;
}

/* Media Queries para telas menores */

/* Smartphones em modo retrato (max-width 600px) */
@media (max-width: 600px) {
    #game-container {
        width: 90%;
    }

    #companies-container {
        grid-template-columns: repeat(2, 1fr);  /* 2 empresas por linha */
    }

    .company-button {
        padding: 8px 16px;
        font-size: 14px;
        width: 100%;
        margin: 10px 0;
    }

    .answer-button {
        padding: 8px;
        font-size: 14px;
        margin: 8px 0;
    }

    #timer-container p {
        font-size: 14px;
    }

    #questions-left p {
        font-size: 12px;
    }
}

/* Tablets em modo retrato (max-width 768px) */
@media (max-width: 768px) {
    #game-container {
        width: 85%;
    }

    #companies-container {
        grid-template-columns: repeat(2, 1fr);  /* 2 empresas por linha */
    }

    .company-button {
        padding: 10px 20px;
        font-size: 15px;
    }

    .answer-button {
        padding: 9px;
        font-size: 15px;
        margin: 10px 0;
    }

    #timer-container p {
        font-size: 16px;
    }

    #questions-left p {
        font-size: 13px;
    }
}

/* Telas maiores (computadores e grandes telas) */
@media (min-width: 1024px) {
    #game-container {
        width: 60%;
    }

    #companies-container {
        grid-template-columns: repeat(3, 1fr);  /* 3 empresas por linha */
    }

    .company-button {
        padding: 12px 25px;
        font-size: 18px;
    }

    .answer-button {
        padding: 12px;
        font-size: 18px;
        margin: 12px 0;
    }

    #timer-container p {
        font-size: 18px;
    }

    #questions-left p {
        font-size: 16px;
    }
}
